{% extends "base.html" %}


{% load static %}
{% load compress %}
{% block title %}Page not found{% endblock %}

{% block content %}
{% block customcss %}
{% compress css %}
<link href="{% static 'css/error500.css' %}" rel="stylesheet">
{% endcompress %}
{% endblock customcss %}
<body>
    <br><br><br>
<h1>Ooops!!! 500</h1>

<h3>Looks like something went wrong!</h3>

<p>We track these errors automatically, but if the problem persists feel free to contact us. In the meantime, try refreshing.</p>
</body>
{% endblock content %}
