{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}
{% load compress %}

{% block title %}{{ user.username }}{% endblock %}

{% block customcss %}
{% compress css %}
<link href="{% static 'css/error403.css' %}" rel="stylesheet">
{% endcompress %}
{% endblock customcss %}

{% block content %}
  <h1>{{ user.username }}</h1>
  <form class="form-horizontal" method="post" action="{% url 'user:update' %}">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn btn-primary">Update</button>
      </div>
    </div>
  </form>
{% endblock %}
