{% extends "account/base.html" %}
{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}
{% load static %}
{% load compress %}
{% block head_title %}{% translate "Sign In" %}{% endblock %}

{% block customcss %}
{% compress css %}
<link href="{% static 'css/signin_style.css' %}" rel="stylesheet">
{% endcompress %}
{% endblock customcss %}

{% block inner %}

<h1>{% translate "Sign In" %}</h1>




<section class="vh-70">
  <div class="container py-5 h-70">
    {% get_providers as socialaccount_providers %}

    {% if socialaccount_providers %}

    <p>
      {% translate "Please sign in with one of your existing third party accounts:" %}
      {% if ACCOUNT_ALLOW_REGISTRATION %}
      {% blocktranslate trimmed %}
      Or, <a href="{{ signup_url }}">sign up</a>
      for a {{ site_name }} account and sign in below:
      {% endblocktranslate %}
      {% endif %}
    </p>

    <div class="socialaccount_ballot">

      <ul class="socialaccount_providers">
        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
      </ul>

      <div class="login-or">{% translate "or" %}</div>

    </div>

    {% include "socialaccount/snippets/login_extra.html" %}

    {% else %}
    {% if ACCOUNT_ALLOW_REGISTRATION %}
    <p>
      {% blocktranslate trimmed %}
      If you have not created an account yet, then please
      <a href="{{ signup_url }}">sign up</a> first.
      {% endblocktranslate %}
    </p>
    {% endif %}
    {% endif %}
    </div>
  <div class="container py-5 h-70">
    <div class="row d-flex align-items-center justify-content-center h-50">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <img src="{% static 'images/signin.jpeg' %}" class="img-fluid"
             alt="image">
      </div>
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        <form class="login" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
          {{ form|crispy }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}"value="{{ redirect_field_value }}" />
          {% endif %}
          <a class="button secondaryAction"
             href="{% url 'account_reset_password' %}">{% translate "Forgot Password?" %}</a>
             <br><br>
          <button class="primaryAction btn btn-primary" type="submit">{% translate "Sign In" %}
          </button>

        </form>
      </div>
      <div class="col-md-8 col-lg-6 col-xl-6 offset-xl-8">
        <p>
          {% blocktranslate %}
          <p>Not a member? <a href="{{ signup_url }}"> Register</a></p>
          {% endblocktranslate %}
        </p>
      </div>
    </div>
  </div>

</section>


{% endblock %}
